@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

html {
  height: 100vh;
  width: 100vw;
}

body{
  /* border: 2px solid white; */
  background-color: hsl(227, 75%, 14%);
  height: 90%;
  margin: 2rem 5rem;
}

.extensions-container{
  border: 2px solid white;
  height: 3rem;
  border-radius: 15px;
}